
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>

    {% for post in posts %}
        {{ post.id }}: {{ post.text }}
        <br/>
    {% endfor %}
    <form action="/add/" method="post">
        {% csrf_token %}
        <input name="text" placeholder="enter"/>
        <input type="submit" value="Submit">
    </form>


{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
