
{% for error in errors %}
    <p style="color:red;">{{ error }}</p>
{% endfor %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
     {{ form.as_p }}
    <input type="submit" value="Login">
</form>